Assignments/Assignment4/xml/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ht="https://github.com/rmbogne/ASU/tree/main/Assignments/Assignment4/xml/"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">

    <!-- Root Element -->
    <xsd:element name="HotelListings">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Hotel" type="ht:HotelType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <!-- Define Hotel Type -->
    <xsd:complexType name="HotelType">
        <xsd:sequence>
            <xsd:element name="Name" type="xsd:string"/>
            <xsd:element name="Address" type="ht:AddressType"/>
            <xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/> 
        </xsd:sequence>
        <xsd:attribute name="Rating" use="optional">
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:minInclusive value="1"/>
                    <xsd:maxInclusive value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>

    <!-- Address Type -->
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="Number" type="xsd:string"/>
            <xsd:element name="Street" type="xsd:string"/>
            <xsd:element name="City" type="xsd:string"/>
            <xsd:element name="State" type="xsd:string"/>
            <xsd:element name="Zip" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
    </xsd:complexType>

</xsd:schema>