Assignments/Assignment4/1238986817/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
    xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://example.com/ht"
    xmlns:ht="http://example.com/ht"
    elementFormDefault="qualified" 
    attributeFormDefault="unqualified">

    <!-- Root Element -->
    <element name="Hotels">
        <complexType>
            <sequence>
                <element name="Hotel" type="ht:HotelType" minOccurs="1" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>

    <!-- Define Hotel Type -->
    <complexType name="HotelType">
        <sequence>
            <element name="Name" type="string"/>
            <element name="Address" type="ht:AddressType"/>
            <element name="Phone" type="string" minOccurs="1" maxOccurs="unbounded"/> 
        </sequence>
        <attribute name="Rating" use="optional">
            <simpleType>
                <restriction base="decimal">
                    <minInclusive value="1"/>
                    <maxInclusive value="5"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

    <!-- Address Type -->
    <complexType name="AddressType">
        <sequence>
            <element name="Number" type="string"/>
            <element name="Street" type="string"/>
            <element name="City" type="string"/>
            <element name="State" type="string"/>
            <element name="Zip" type="string"/>
        </sequence>
        <attribute name="NearestAirport" type="string" use="required"/>
    </complexType>

</schema>
